<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="wp8" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wp8" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp8" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="wp8" />
  <package id="PCLStorage" version="1.0.2" targetFramework="wp8" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="wp8" />
  <package id="WPToolkitTestFx" version="4.2012.11.14" targetFramework="wp8" />
</packages>